# Laravel
/vendor/
*.env
*.log
/storage/
public/storage/
node_modules/

# React Build
/build/

# Ignore Composer and NPM lock files only for dev
composer.lock
package-lock.json

# Operating system files
.DS_Store
Thumbs.db

# IDE files (e.g., VSCode, PhpStorm)
.vscode/
.idea/
.env
.env.*
